@import url('https://fonts.googleapis.com/css?family=PT+Mono');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'PT Mono', monospace;
}

body {
  background-color: #ECF0F1;
  transition: background-color 1s ease;
}

.header-keeper {
  max-width: 1022px;
  margin-right: 20px;
  position: relative;
  z-index: 50;
}

h1 {
  font-size: 20px;
  margin-bottom: 30px;
}

.scaleSelector {
  margin: 15px 10px 0px 20px;
  font-size: 14px;
  display: inline-block;
}

.scaleSelectorX {
  display: inline-block;
  text-decoration: underline;
  color: #1F3A93;
  cursor: pointer;
  width: 15px;
}

.scaleSelectorX.selected {
  text-decoration: none;
  color: black;
  cursor: auto;
}

.scaleSelectorX:hover {
  text-decoration: none;
}

.resetPosition:hover {
  text-decoration: none;
}

.resetPosition {
  margin: 0px;
  color: #1F3A93;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  /* width: 140px; */
  display: inline-block;
}

input[type="text"] {
  font-size: 15px;
  padding: 10px;
  width: 150px;
  height: auto;
  margin-bottom: 10px;
  display: block;
  border: 0;
}

.top-header {
  margin: 20px 20px 10px;
}

#picker * {
  box-sizing: initial;
}

.description {
  margin: 20px 20px 0px;
  font-size: 13px;
  width: 580px;
  z-index: 30;
  line-height: 20px;
}

.noweb3 .description {
  margin: 20px 20px 15px;
}

.noweb3div {
  display: none;
}

.noweb3 .noweb3div {
  display: block;
}

.description a{
  color: #1F3A93;
  text-decoration: none;
}

.navigator {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  z-index: 5;
  user-select: none;
  pointer-events: none;
}

.navigator-container {
  width: 40px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
}

.navigator-canvas {
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 0.1s linear;
}

.container-canvas {
  width: 100%;
  overflow: hidden;
  max-width: 1002px;
  min-width: 490px;
  min-height: 500px;
  position: relative;
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.14);
  border: 1px solid #eee;
  background:url(
      data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAHUlEQVQoU2NkwARSyEKM9FGAYicDA8MzdDfQWAEAVT8EcWfJS8gAAAAASUVORK5CYII=
      ) repeat;
}

#container {
  position: relative;
  margin: 10px 20px;
  max-width: 1002px;
}

#canvas {
  image-rendering:optimizeSpeed;             /* Legal fallback */
  image-rendering:-moz-crisp-edges;          /* Firefox        */
  image-rendering:-o-crisp-edges;            /* Opera          */
  image-rendering:-webkit-optimize-contrast; /* Safari         */
  image-rendering:optimize-contrast;         /* CSS3 Proposed  */
  image-rendering:crisp-edges;               /* CSS4 Proposed  */
  image-rendering:pixelated;                 /* CSS4 Proposed  */
  -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
  
  transition: width 0.3s, height 0.3s;
  position: absolute;
  top: 0px;
  left: 0px;
}

.canvasAnimationResetPosition {
  transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s !important;
}

.bigScale .zoomdrag::before {
  content: " ";
  background-color: rgba(255, 255, 255, 0.6);
  width: 9px;
  height: 9px;
  position: absolute;
  top: -4px;
  left: -4px;
  outline: 1px solid rgba(0, 0, 0, 0.3);
}

.bigScale .zoomdrag::after {
  content: " ";
  background-color: rgba(0, 0, 0, 0.7);
  width: 5px;
  height: 5px;
  position: absolute;
  top: -2px;
  left: -2px;
}

.bigScale .zoomdrag * {
  display: none;
}

body.hideHandCursor.bigScale .container-canvas {
  cursor: none;
}

body.bigScale .container-canvas {
  cursor: none;
}

.container-canvas {
  /* cursor: crosshair; */
  cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/openhand.cur), default;
  background-color: white;
}

body.hideHandCursor .container-canvas{
  cursor: crosshair;
}

.zoomdrag {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 200px;
  height: 200px;
  z-index: 5;
  pointer-events: none;
  user-select: none;
}

#zoom {
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 1px 3px 22px -8px rgba(0,0,0,0.75);
  border: 1px solid #eee;
}

#zoomtarget {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 10px;
  height: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  outline: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.color-picker {
  position: fixed;
  top: calc(50% - 250px);
  left: calc(50% - 150px);
  width: 210px;
  height: 400px;
  background-color: white;
  border: 1px solid #eee;
  box-shadow: 1px 1px 15px -8px rgba(0,0,0,0.75);
  z-index: 100;
  padding: 20px;
}

.send-blocker {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  padding: 20px 10px;
  font-size: 15px;
  line-height: 20px;
  color: black;
  animation-name: metamask-blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.metamask .send-blocker {
  display: block;
}

#picker-control {
  position: absolute;
  top: 10px;
  right: 10px;
}

#picker-control div {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}

#picker {
  margin-bottom: 10px;
}

.blue {
  color: #1F3A93;
}

.gray {
  color: #ABB7B7;
}

.btn {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid;
  cursor: pointer;
  font-size: 13px;
}

.btn:hover {
  text-decoration: underline;
}

.send-descritpion {
  font-size: 11px;
  margin: 30px 0;
  color: #777;
}

.zero {
  font-size: 9px;
  color: rgb(105, 105, 105);
}

.hidden {
  opacity: 0;
  transition: opacity linear 0.2s;
  pointer-events: none;
  user-select: none;
  position: absolute;
  bottom: -1000px;
  right: -1000px;
  display: none;
}

#flag {
  position: absolute;
  bottom: 22px;
  left: -5px;
}

#flag div {
  width: 5px;
  height: 6px;
}

.blue-flag {
  background-color: blue;
}

.black-flag {
  background-color: black;
}

.white-flag {
  background-color: #eee;
}

.palette {
  width:190px;
  font-size: 0px;
  margin-bottom: 30px;
}

.palette div {
  width: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  z-index: 5;
}

.palette div:nth-child(1) {
  border: 1px solid #eee;
}

.palette div:hover {
  box-shadow: 0px 0px 26px -6px rgba(0,0,0,0.75);
  z-index: 10;
}

.madeby {
  max-width: 1000px;
  text-align: right;
  margin: 10px 20px;
  font-size: 12px;
}

.logo {
  color: #1F3A93;
}

.noweb3popup {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  cursor: pointer;
}

.noweb3popup-text {
  width: 100%;
  padding: 10% 20%;
  line-height: 1.5em;
}

.noweb3popup-text a {
  color: #1F3A93;
}

.metamask-popup {
  position: absolute;
  top: 0px;
  right: 0px;
  /* bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 1000;
  cursor: pointer; */
}

.metamask-popup-text {
  width: 100%;
  padding: 0 10%;
  color: black;
  line-height: 1.4em;
}
.metamask-popup-text h1 {
  line-height: 1.5em;
  margin: 17px 0px 10px;
}

.metalight {
  position: absolute;
  top: 0px;
  right: -150px;
  width: 140px;
  background-color: white;
  padding: 10px;
  font-size: 12px;
}

a {
  color: #1F3A93;
}

.metamask-popup br {
  line-height: 250%;
}

@media screen and (max-width: 600px) {
  .description {
    font-size: 12px;
    width: calc(100% - 40px);
    height: auto;
  }
  .container-canvas {
    min-width: auto;
    width: 100%;
  }
  .madeby {
    margin: 0 20px 10px 20px;
    width: auto;
  } 
  #container {
    margin-bottom: 10px;
  }
  .sale {
    display: none;
  }
}

.metamask {
  background-color: #C5EFF7;
  animation-name: metamask-blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.transaction {
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 10px;
  animation-name: transaction-blink;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  display: none;
}

.metamask .transaction {
  display: block;
}

@keyframes transaction-blink {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

@keyframes metamask-blink {
  from {
    background-color: #C5EFF7;
  }

  to {
    background-color: rgb(218, 245, 250);
  }
}

.sale {
  position: absolute;
  top: 40px;
  right: 20px;
  font-size: 12px;
  width: 300px;
  text-align: right;
  line-height: 17px;
  display: none;
}